.json-field {
	color: #343741;
	overflow: auto;
	text-wrap: wrap;
	white-space: pre-wrap;
}
.json-field .string { color: #bd271e; }
.json-field .number { color: #bd271e; }
.json-field .boolean { color: #c4407c; }
.json-field .null { color: #e06c75; }
.json-field .key { color: #0071c2; }

///* Light theme */
//.json-field {
//  color: #343741;
//  background: #f5f7fa;
//}
//.json-field .string { color: #bd271e; }
//.json-field .number { color: #bd271e; }
//.json-field .boolean { color: #c4407c; }
//.json-field .null { color: #e06c75; }
//.json-field .key { color: #0071c2; }
//
///* Dark theme */
//.euiTheme-dark .json-field {
//  color: #d4d7db;
//  background: #1d1e24;
//}
//.euiTheme-dark .json-field .string { color: #9cdcfe; }
//.euiTheme-dark .json-field .number { color: #b5cea8; }
//.euiTheme-dark .json-field .boolean { color: #c586c0; }
//.euiTheme-dark .json-field .null { color: #d19a66; }
//.euiTheme-dark .json-field .key { color: #4fc1ff; }
